{% extends 'nav.html' %}
{% block content %}
{% load static %} 
<form method="post" action="{% url 'coursedb' %}">
    {% csrf_token %}
    <style>
         body{
        background-image: url("{% static 'images/sq1.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
        
        .container {
            
            max-width: 600px;
            margin: 0 auto;
            margin-top: 2%;
            padding: 20px;
            border-radius: 20px;
            border: 2px solid rgba(6, 6, 6, 0.427);
            background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }
        
        h1 {
            color: #e9f6e9;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        label {
            color: #000900;
            font-weight: bold;
            text-align: left;
        }
        
        input, select, button {
            width: 100%;
            max-width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 10px;
            border: 2px solid #0d0d0d;
            outline: none;
        }
        
        button {
            width: auto;
            padding: 10px 20px;
            background-color: #000;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s, border-color 0.3s, color 0.3s;
        }
        
        button:hover {
            background-color: #0e8bf8;
            border-color: #00070a;
            color: white;
        }
    </style>
    <div class="container">
        <h1>Add Course</h1><br>
        <input type="text" placeholder="Enter Course" name="course"><br>
        <input type="number" placeholder="Enter Course Fee" name="fee"><br>
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}
